@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay-Regular.ttf') format('ttf'),
         url('../fonts/SFProDisplay-Regular.woff') format('woff'),
         url('../fonts/SFProDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay-Semibold.ttf') format('ttf'),
         url('../fonts/SFProDisplay-Semibold.woff') format('woff'),
         url('../fonts/SFProDisplay-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 22px;
    font-family: 'SFProDisplay', sans-serif;
    color: #595959;

    background-color: #f5f5f5;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
}

/* Header */

.header {
    padding: 8px 0;
    background-color: #0050B3;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.form-search {
    display: flex;
    flex-shrink: 0;
    flex-basis: 336px;
}
.form-search__input {
    width: 100%;

    padding: 7px 30px 7px 12px;

    border: 1px solid #D9D9D9;
    border-radius: 4px;

    background-image: url(../img/search.svg);
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}
.form-search__input::placeholder {
    color: #BFBFBF;
}
.nav {
    display: flex;
    align-items: center;
}
.user {
    display: flex;
    align-items: center;
}
.user__img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.user__name {
    font-weight: 600;
    color: #FFFFFF;

    padding-left: 8px;
}

.nav-panel {
    display: flex;
    align-items: center;

    margin-left: 12px;
}
.nav-panel__link {
    display: flex;
    align-items: center;

    color: #fff;
    font-weight: 600;

    transition: color 0.1s linear;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -ms-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
}
.nav-panel__link:hover {
    color: rgb(135, 171, 223);
}
.nav-panel__link::before {
    content: '';
    width: 1px;
    height: 16px;
    margin-right: 12px;

    background: #003A8C;
}
.nav-panel__link:last-child::before {
    margin-left: 12px;
}
.nav-panel__link:last-child::after {
    content: '';
    width: 1px;
    height: 16px;
    margin-left: 12px;

    background: #003A8C;
}
.nav-icons {
    vertical-align: middle;
    margin-left: 12px;
}
.nav-icons__link {
    margin-right: 12px;
}
.nav-icons__link:last-child {
    margin-right: 0;
}
.nav-icon {
    fill: #002766;
    transition: fill .1s linear;
    -webkit-transition: fill .1s linear;
    -moz-transition: fill .1s linear;
    -ms-transition: fill .1s linear;
    -o-transition: fill .1s linear;
}
.nav-icon:hover {
    fill: #fff;
}

/* content */

.main-content {
    padding-top: 16px;
}
.main-content__wrapper {
    display: flex;
}
.menu-sidebar {
    max-width: 192px;
    padding-left: 10px;
    margin-right: 18px;
}
.menu-sidebar .user__img {
    width: 24px;
    height: 24px;
}
.menu-sidebar .user__name {
    font-weight: normal;
    color: #262626;
}
.nav-group {
    margin: 12px 0 24px;
}
.nav-group__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-group__item {
    margin-bottom: 4px;
    margin-left: -8px;
}
.nav-group__item:last-child {
    margin-bottom: 0;
}
.nav-group__link {
    display: flex;
    align-items: center;

    padding: 5px 9px;
    border-radius: 4px;
    color: #595959;
}
.nav-group__link:hover {
    background-color: rgb(235, 235, 235);
}
.nav-group__link.active {
    color: #262626;
    font-weight: 600;
    background-color: #fff;
}
.nav-group__link-text {
    display: block;
    margin-left: 8px;
}

.nav-group__name {
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;

    color: #262626;
}
.nav-group-explore {
    margin-bottom: 10px;
}

.see-more {
    color: #1890FF;
    display: flex;
    align-items: center;
}
.see-more::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 5.5px 0 5.5px;
    border-color: #bfbfbf transparent transparent transparent;
    margin-right: 13px;
}


.main-feed {
    max-width: 588px;
    width: 100%;
}
.create-post {
    background: #FFFFFF;

    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    margin-bottom: 16px;
}
.create-post__header {
    background: #F5F5F5;

    border-bottom: 1px solid #d9d9d9;
}
.create-post__header-text {
    color: #595959;
    font-weight: 600;
    padding: 9px 16px;
}
.create-post__body {
    padding: 16px 0 24px;
    display: flex;
    align-items: flex-start;

   

    margin:0 16px 0;

    border-bottom: 1px solid #d9d9d9;
}
.create-post__body .user__img {
    width: 40px;
    height: 40px;
}
.create-post__input {
    margin-left: 16px;

    font-size: 16px;
    line-height: 24px;

    color: #8C8C8C;
}
.create-post__input:focus {
    outline: none;
}
.create-post__footer {
    padding: 16px;
    display: flex;
    align-items: center;
}
.btn-tag {
    position: relative;
    padding: 12px 12px 12px 44px;
    margin-right: 8px;

    color: #595959;
    font-weight: 600;

    background: #F5F5F5;
    border-radius: 48px;
    border: none;

    cursor: pointer;

    transition: background 0.1s linear;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -ms-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
}
.btn-tag:hover {
    background: rgb(235, 235, 235);
}
.btn-tag:before {
    content: '';

    position: absolute;
    top: 11px;
    left: 14px;

    width: 22px;
    height: 18px;

    background-image: url(../img/photo-video.svg);
    background-position: left center;
    background-size: 22px 18px;
    background-repeat: no-repeat;
}
.btn-tag--friends::before {
    background-image: url(../img/tag-riends.svg);
}
.btn-tag--smile::before  {
    background-image: url(../img/smile.svg);
}
.btn-tag--options {
    width: 48px;
    height: 40px;
}
.btn-tag--options::before  {
    left: 17px;
    background-image: url(../img/dots.svg);
}